.blog {
  font-size: 6rem;
  color: #3eee6a;
}

.date {
  color: black;
  font-weight: 700;
}

.margin-top-md {
  margin-top: 3rem;
}

.margin-bottom-md {
  margin-bottom: 2rem;
}

.padding-md {
  padding: 2rem;
}
