<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doruk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block link_block %}
    <link rel="stylesheet" href="{% static "homeApp/css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "myPathApp/css/myPath_main.css" %}"/>
    <link rel="stylesheet" href="{% static "blogApp/css/blog_main.css" %}"/>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  </head>
  <body>

  <div class="page__blog">

    <div class="page__grid--CV">
        <nav class="nav-cvPage">
          <div class="navbar__CV">
            <div class="navbar__CV--container">
              <ul class="navbar__links">
                <li class="navbar__links-element">
                  <a href="{% url 'homeApp:home' %}" class="navbar__links--1">Home</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'homeApp:cv' %}" class="navbar__links--2">Curriculum Vitae(CV)</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'myPathApp:mypath' %}" class="navbar__links--3">My Path</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'blogApp:blogHome' %}" class="navbar__links--4">Blog</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'contactApp:contactHome' %}" class="navbar__links--5">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    {% block intro_block %}

    {% endblock %}

    {% block content_block %}

    {% endblock %}

  </div>




  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="{% static "blogApp/js/main.js" %}"></script>

  </body>
</html>
