/*
0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1300px:     Small Laptop
1300px - 1400px:     medium Laptop

1800+ :              Big laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- laptop-sm
-laptop-md
- laptop-bg

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 87.5em) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 81.25em) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f6f6f6;
  color: #000;
  font-weight: 300;
  line-height: 1.6;
}

.content {
  grid-row: 4/22;
  grid-column: 4/16;
  display: grid;
  grid-template-rows: repeat(18, 4.17vh);
  grid-template-columns: repeat(24, 3.54vw);
}

@media (max-width: 81.25em) {
  .content {
    grid-template-rows: min-content;
    grid-template-columns: min-content;
    align-content: center;
    justify-content: center;
  }
}

@media (max-width: 56.25em) {
  .content {
    grid-template-rows: repeat(18, 4.17vh);
    grid-template-columns: repeat(24, 3.54vw);
  }
}

@media (max-width: 37.5em) {
  .content {
    grid-template-rows: min-content;
    grid-template-columns: repeat(24, 4.17vw);
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}

.page__grid--CV {
  display: grid;
  grid-template-rows: repeat(2, 4.17vh) repeat(5, min-content);
  grid-template-columns: repeat(24, 4.17vw);
}

/*
0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1300px:     Small Laptop
1300px - 1400px:     medium Laptop

1800+ :              Big laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- laptop-sm
-laptop-md
- laptop-bg

1em = 16px
*/
.gpa {
  font-weight: 700;
}

.uni {
  color: #e0203f;
}

.uni__department {
  color: #8d6e63;
}

.chev {
  font-size: 1.8rem;
  color: #c17676;
  margin-right: 1.5rem;
}

@media (max-width: 75em) {
  .chev {
    font-size: 2.5rem;
  }
}

/*
0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1300px:     Small Laptop
1300px - 1400px:     medium Laptop

1800+ :              Big laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- laptop-sm
-laptop-md
- laptop-bg

1em = 16px
*/
.header-1 {
  font-size: 5rem;
  font-weight: 400;
}

@media (max-width: 56.25em) {
  .header-1 {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  .header-1 {
    font-size: 7rem;
  }
}

.header-2 {
  font-size: 3rem;
  font-weight: 500;
}

@media (max-width: 37.5em) {
  .header-2 {
    font-size: 5rem;
  }
}

.header-3 {
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 56.25em) {
  .header-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 37.5em) {
  .header-3 {
    font-size: 3.5rem;
  }
}

.header-4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.paragraph {
  font-size: 1.6rem;
}

@media (max-width: 56.25em) {
  .paragraph {
    font-size: 1.4rem;
  }
}

@media (max-width: 37.5em) {
  .paragraph {
    font-size: 2.5rem;
  }
}

.margin-top-sm {
  margin-top: 1rem;
}

.margin-top-xsm {
  margin-top: .1rem;
}

/*
0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1300px:     Small Laptop
1300px - 1400px:     medium Laptop

1800+ :              Big laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- laptop-sm
-laptop-md
- laptop-bg

1em = 16px
*/
.Education {
  grid-row: 3/4;
  grid-column: 2/24;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(22, 4.17vw);
  grid-template-rows: repeat(5, min-content);
  grid-row-gap: 4rem;
}

@media (max-width: 37.5em) {
  .Education {
    margin: 0rem 0;
    grid-column: 1/-1;
    grid-template-columns: repeat(24, 4.17vw);
    margin-bottom: 5rem;
  }
}

.Experience {
  background-color: white;
  grid-row: 4/5;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(24, 4.17vw);
  background-image: url("/static/homeApp/img/lab-hero.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.overlay {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(24, 4.17vw);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  background-position: center;
}

.Software {
  grid-row: 5/6;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(24, 4.17vw);
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 5rem;
  background-image: #f6f6f6;
}

.Languages {
  grid-row: 6/7;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(24, 4.17vw);
  grid-template-rows: repeat(24, 4.17vh);
  background-image: url("/static/homeApp/img/languages-3.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.Languages__overlay {
  grid-row: 1/-1;
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(245, 222, 179, 0.8), rgba(245, 222, 179, 0.8));
  display: grid;
  grid-template-columns: repeat(24, 4.17vw);
  grid-template-rows: repeat(2, min-content);
}

.Footer {
  background-color: wheat;
  grid-row: 7/8;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: repeat(3, 4.17vh);
  grid-template-columns: repeat(24, 4.17vw);
}

.nav-cvPage {
  grid-row: 1/3;
  grid-column: 1/-1;
}

@media (max-width: 37.5em) {
  .nav-cvPage {
    grid-row: 1/2;
  }
}

.navbar__CV {
  grid-row: 1/-1;
  grid-column: 2/-2;
  display: grid;
  grid-template-rows: repeat(2, 4.17vh);
  grid-template-columns: 7.5vw 85vw 7.5vw;
}

.navbar__CV--style-Left {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #192d45;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

@media (max-width: 37.5em) {
  .navbar__CV--style-Left {
    display: none;
  }
}

.navbar__CV--style-Right {
  grid-row: 1/3;
  grid-column: 3/4;
  background-color: #192d45;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  position: relative;
}

@media (max-width: 37.5em) {
  .navbar__CV--style-Right {
    display: none;
  }
}

.navbar__CV--container {
  grid-row: 1/3;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(2, 4.17vh);
  grid-template-columns: repeat(24, 3.54vw);
}

/*
0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1300px:     Small Laptop
1300px - 1400px:     medium Laptop

1800+ :              Big laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- laptop-sm
-laptop-md
- laptop-bg

1em = 16px
*/
.cv-title {
  grid-column: 1/-1;
  color: #283593;
  letter-spacing: .2rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 100%;
  align-items: center;
}

.cv-title::after {
  content: "";
  height: 3px;
  display: block;
  background-color: #283593;
}

.cv-title .title-style {
  border: .3rem solid #283593;
  padding: 2rem;
}

@media (max-width: 56.25em) {
  .cv-title span {
    font-size: 8rem;
  }
}

@media (max-width: 37.5em) {
  .cv-title span {
    font-size: 7.5rem;
  }
}

.card-education {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: minmax(min-content, 45vh);
  background-color: white;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
}

@media (max-width: 87.5em) {
  .card-education {
    grid-template-rows: minmax(45vh, min-content);
  }
}

@media (max-width: 56.25em) {
  .card-education {
    grid-template-rows: auto;
  }
}

.card-education__icon {
  height: 5rem;
  width: 5rem;
  fill: #cba16f;
}

.card-education__imgRightContainer {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(22, 4.17vw);
  grid-template-rows: repeat(12, 3.3333vh);
}

@media (max-width: 56.25em) {
  .card-education__imgRightContainer {
    display: flex;
    flex-direction: column;
  }
}

.card-education__imgRight {
  grid-row: 1/-1;
  grid-column: 13/-1;
  background-image: url("/static/homeApp/img/metu-1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
}

@media (max-width: 56.25em) {
  .card-education__imgRight {
    clip-path: none;
    height: 40vh;
    width: 100%;
    background-size: cover;
  }
}

.card-education__imgRight--logo {
  grid-row: 1/4;
  grid-column: 20/-1;
  background-size: cover;
  background-position: center;
  background-image: url("/static/homeApp/img/metu-logo-white.jpg");
  z-index: 1;
}

@media (max-width: 56.25em) {
  .card-education__imgRight--logo {
    clip-path: none;
    height: 8rem;
    width: 20rem;
    background-size: cover;
    position: absolute;
  }
}

.card-education__imgRight--gpa-1 {
  color: #B28451;
  text-align: center;
}

@media (max-width: 75em) {
  .card-education__imgRight--gpa-1 {
    font-size: 1.8rem;
  }
}

.card-education__imgRight--gpa-2 {
  font-weight: 300;
}

.card-education__infoRight {
  grid-row: 1/-1;
  grid-column: 1/13;
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, 40vh));
  grid-template-columns: repeat(12, 4.17vw);
}

@media (max-width: 56.25em) {
  .card-education__infoRight {
    display: flex;
    flex-direction: column;
  }
}

.card-education__infoRight--date {
  grid-row: 1/2;
  grid-column: 1/-1;
  margin: 0rem 2rem;
  display: flex;
  align-items: center;
}

@media (max-width: 56.25em) {
  .card-education__infoRight--date {
    margin: 3rem 0rem 3rem 3rem;
  }
}

.card-education__infoRight--date h2 {
  background-image: linear-gradient(to right, #42a5f5, #2196f3, #1e88e5);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
  margin-left: 2rem;
}

@media (max-width: 56.25em) {
  .card-education__infoRight--date h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}

.card-education__infoRight--uni {
  grid-row: 2/3;
  grid-column: 1/-1;
  margin: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 56.25em) {
  .card-education__infoRight--uni {
    margin: -1rem 2rem 3rem 3rem;
  }
  .card-education__infoRight--uni-header-3 {
    font-size: 3rem;
  }
  .card-education__infoRight--uni-header-4 {
    font-size: 2.5rem;
  }
  .card-education__infoRight--uni-paragraph {
    font-size: 2.5rem;
  }
}

.card-education__infoRight--gpaRow {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}

@media (max-width: 87.5em) {
  .card-education__infoRight--gpaRow {
    margin-bottom: 0rem;
  }
}

@media (max-width: 56.25em) {
  .card-education__infoRight--gpaRow {
    margin: 2rem auto 4rem auto;
  }
  .card-education__infoRight--gpaRow svg {
    height: 6.5rem;
    width: 6.5rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__infoRight--gpaRow {
    flex-direction: column;
  }
}

.card-education__infoRight--gpaInfo {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
  border-radius: 10rem;
}

@media (max-width: 56.25em) {
  .card-education__infoRight--gpaInfo {
    padding: 1rem 4rem 1rem 4rem;
  }
  .card-education__infoRight--gpaInfo h3 {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__infoRight--gpaInfo {
    padding: 1rem 7rem 1rem 7rem;
    margin: 0 auto;
  }
}

.card-education__infoRight--rightArrow {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 56.25em) {
  .card-education__infoRight--rightArrow {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__infoRight--rightArrow {
    display: none;
  }
}

.card-education__infoRight--topOfClass {
  font-weight: 300 !important;
  color: #007bb5;
}

@media (max-width: 56.25em) {
  .card-education__infoRight--topOfClass {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__infoRight--topOfClass {
    margin: 2rem auto;
  }
}

.card-education__imgLeftContainer {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(22, 4.17vw);
  grid-template-rows: repeat(12, 3.3333vh);
}

@media (max-width: 56.25em) {
  .card-education__imgLeftContainer {
    display: flex;
    flex-direction: column;
  }
}

.card-education__imgLeft {
  grid-row: 1/-1;
  grid-column: 1/11;
  background-image: url("/static/homeApp/img/metu-2.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.card-education__imgLeft--logo {
  grid-row: 10/-1;
  grid-column: 1/4;
  background-size: cover;
  background-position: center;
  background-image: url("/static/homeApp/img/metu-logo-white.jpg");
  z-index: 1;
}

@media (max-width: 56.25em) {
  .card-education__imgLeft--logo {
    clip-path: none;
    height: 8rem;
    width: 20rem;
    background-size: cover;
    position: absolute;
  }
}

@media (max-width: 56.25em) {
  .card-education__imgLeft {
    clip-path: none;
    height: 40vh;
    width: 100%;
    background-size: cover;
  }
}

.card-education__infoLeft {
  grid-row: 1/-1;
  grid-column: 11/-1;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(12, 4.17vw);
}

@media (max-width: 56.25em) {
  .card-education__infoLeft {
    display: flex;
    flex-direction: column;
  }
}

.card-education__infoLeft--date {
  grid-row: 1/2;
  grid-column: 1/-1;
  margin: 2rem 4rem;
  display: flex;
  align-items: center;
}

.card-education__infoLeft--date h2 {
  background-image: linear-gradient(to right, #42a5f5, #2196f3, #1e88e5);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
  margin-left: 2rem;
}

@media (max-width: 56.25em) {
  .card-education__infoLeft--date h2 {
    font-size: 5rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__infoLeft--date h2 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 56.25em) {
  .card-education__infoLeft--date {
    margin: 3rem 0rem 3rem 3rem;
  }
}

.card-education__infoLeft--uni {
  grid-row: 2/3;
  grid-column: 1/-1;
  margin: 0rem 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
}

.card-education__infoLeft--gpaInfo {
  grid-row: 3/4;
  grid-column: 4/9;
  margin-top: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(#fff, #f6f6f6);
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
  border-radius: 10rem;
}

@media (max-width: 87.5em) {
  .card-education__infoLeft--gpaInfo {
    margin-top: 2rem;
  }
}

@media (max-width: 56.25em) {
  .card-education__infoLeft--gpaInfo {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 18rem 1rem 18rem;
    margin-bottom: 4.2rem;
  }
  .card-education__infoLeft--gpaInfo h3 {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__infoLeft--gpaInfo {
    padding: 1rem 7rem 1rem 7rem;
  }
}

.card-education__imgRight-2 {
  grid-row: 1/-1;
  grid-column: 13/-1;
  background-image: url("/static/homeApp/img/final-1.png");
  background-size: cover;
  opacity: 0.9;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%);
}

@media (max-width: 56.25em) {
  .card-education__imgRight-2 {
    clip-path: none;
    height: 40vh;
    width: 100%;
    background-size: cover;
  }
}

.card-education__infoRight2--topOfClass {
  font-size: 2.5rem !important;
}

.card-education__infoRight--gpaInfo2 {
  grid-row: 4/5;
  grid-column: 1/6;
}

.card-education .card-education__infoRight--date__highschool {
  margin-bottom: 1rem;
}

.card-education__highSchoolInfo {
  grid-row: 3/4;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

.card-education__highSchoolInfo--1 {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.card-education__highSchoolInfo--1__points {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  margin-left: 2rem;
  border-radius: 10rem;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
  text-align: center;
}

@media (max-width: 56.25em) {
  .card-education__highSchoolInfo--1__points {
    padding: 1rem 4rem 1rem 4rem;
  }
  .card-education__highSchoolInfo--1__points h3 {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__highSchoolInfo--1__points {
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
  .card-education__highSchoolInfo--1__points h3 {
    font-size: 3rem;
  }
}

.card-education__highSchoolInfo--1__rightArrow {
  height: 5rem;
  width: 5rem;
  fill: #cba16f;
  margin-left: 3rem;
}

@media (max-width: 37.5em) {
  .card-education__highSchoolInfo--1__rightArrow {
    display: none;
  }
}

.card-education__highSchoolInfo--1__topOfClass {
  margin-left: 2rem;
  font-weight: 300 !important;
  color: #007bb5;
  font-size: 3rem;
  text-align: center;
}

@media (max-width: 56.25em) {
  .card-education__highSchoolInfo--1 {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .card-education__highSchoolInfo--1 h2 {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  .card-education__highSchoolInfo--1 {
    background-color: white;
    border-radius: 5rem;
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
    padding: 1rem 3rem 1rem 3rem;
    margin: 2rem auto;
  }
  .card-education__highSchoolInfo--1 h2 {
    font-size: 3.5rem;
  }
}

.card-education__highSchoolInfo--2 {
  margin-top: 1.2rem;
}

@media (max-width: 56.25em) {
  .card-education__highSchoolInfo--2 {
    margin-bottom: 4.2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-education__imgLeft-2 {
  grid-row: 1/-1;
  grid-column: 1/11;
  background-image: url("/static/homeApp/img/primary-1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

@media (max-width: 56.25em) {
  .card-education__imgLeft-2 {
    clip-path: none;
    height: 40vh;
    width: 100%;
    background-size: cover;
  }
}

.card-education__primarySchool {
  grid-row: 2/3;
  grid-column: 3/11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10rem;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
}

@media (max-width: 56.25em) {
  .card-education__primarySchool {
    margin: 0 auto;
    padding: 2rem 6rem 2rem 6rem;
    margin-bottom: 4.2rem;
  }
}

.card-education__primarySchool--header-3 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 56.25em) {
  .card-education__primarySchool--header-3 {
    font-size: 4rem;
  }
}

.card-education__primarySchool--header-4 {
  font-size: 2.5rem;
}

@media (max-width: 56.25em) {
  .card-education__primarySchool--header-4 {
    font-size: 3.5rem;
  }
}

.card-education__primarySchool--paragraph {
  font-size: 2.5rem;
  font-weight: 700;
}

@media (max-width: 56.25em) {
  .card-education__primarySchool--paragraph {
    font-size: 3.5rem;
  }
}

.overlay__cv-title {
  margin-top: 5rem;
  margin-left: 4.17vw;
  margin-bottom: 3rem;
  grid-column: 1/-1;
  color: #f6f6f6;
  letter-spacing: .2rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content .942fr;
  grid-template-rows: 100%;
  align-items: center;
}

.overlay__cv-title::after {
  content: "";
  height: 3px;
  display: block;
  background-color: #f6f6f6;
}

.overlay__cv-title .title-style {
  border: 0.3rem solid #f6f6f6;
  padding: 2rem;
}

@media (max-width: 56.25em) {
  .overlay__cv-title span {
    font-size: 8rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__cv-title {
    grid-template-columns: max-content 1fr;
  }
  .overlay__cv-title span {
    font-size: 7.5rem;
  }
}

.overlay__research {
  grid-column: 2/24;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: minmax(min-content, 70vh);
  grid-template-columns: repeat(22, 4.17vw);
}

@media (max-width: 56.25em) {
  .overlay__research {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .overlay__research {
    grid-column: 1/-1;
  }
}

.overlay__research--imgContainer {
  grid-row: 1/2;
  grid-column: 1/8;
}

.overlay__research--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: 5px solid white;
  border-radius: 5rem;
  filter: contrast(1.1) drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.3));
}

@media (max-width: 56.25em) {
  .overlay__research--img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--img {
    width: 70%;
  }
}

.overlay__research--infoContainer {
  grid-row: 1/2;
  grid-column: 9/-1;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(15, 4.17vw);
  margin-top: 1.5rem;
}

@media (max-width: 87.5em) {
  .overlay__research--infoContainer {
    margin-top: .2rem;
  }
}

@media (max-width: 56.25em) {
  .overlay__research--infoContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--infoContainer {
    grid-template-columns: repeat(24, 4.17vw);
  }
}

.overlay__research--date {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}

@media (max-width: 56.25em) {
  .overlay__research--date {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

.overlay__research--date-icon {
  height: 6rem;
  width: 6rem;
  fill: #fff;
  margin-right: 2rem;
}

@media (max-width: 56.25em) {
  .overlay__research--date-icon {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--date-icon {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 75em) {
  .overlay__research--date h2 {
    font-size: 4rem;
    margin-top: 0rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--date h2 {
    font-size: 5rem;
    margin-top: 0rem;
  }
}

.overlay__research--header-2 {
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 87.5em) {
  .overlay__research--header-2 {
    font-size: 5.5rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--header-2 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
}

.overlay__research--header-3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #5fb068;
}

@media (max-width: 87.5em) {
  .overlay__research--header-3 {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--header-3 {
    font-size: 4rem;
  }
}

.overlay__research--paragraph {
  font-size: 1.8rem;
  color: #f6f6f6;
}

@media (max-width: 87.5em) {
  .overlay__research--paragraph {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--paragraph {
    font-size: 3rem;
  }
}

.overlay__research--labName {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@media (max-width: 87.5em) {
  .overlay__research--labName {
    margin-top: .5rem;
  }
}

.overlay__research--points {
  grid-row: 3/4;
  grid-column: 1/-2;
  margin-top: 1rem;
}

@media (max-width: 56.25em) {
  .overlay__research--points {
    text-align: left;
    margin-top: 3rem;
    margin-left: 10rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__research--points {
    margin-left: 4rem;
  }
}

.overlay__research--points-items {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  list-style: none;
}

.overlay__research--points-items > * {
  display: flex;
  align-items: center;
}

@media (max-width: 37.5em) {
  .overlay__research--points-items > * {
    margin-top: 1.5rem;
  }
}

.overlay__club {
  grid-row: 3/4;
  grid-column: 2/24;
  display: grid;
  grid-template-rows: minmax(min-content, 50vh);
  grid-template-columns: repeat(22, 4.17vw);
  margin: 4rem 0;
  margin-bottom: 12rem;
}

@media (max-width: 56.25em) {
  .overlay__club {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .overlay__club {
    grid-template-columns: repeat(24, 4.17vw);
    grid-column: 1/25;
  }
}

.overlay__club--imgContainer {
  grid-row: 1/2;
  grid-column: 1/8;
}

.overlay__club--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5rem;
  border: 5px solid white;
  filter: brightness(1.2) contrast(1.1) drop-shadow(1px 1px 10px rgba(255, 255, 255, 0.3));
}

@media (max-width: 56.25em) {
  .overlay__club--img {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 37.5em) {
  .overlay__club--img {
    width: 70%;
  }
}

.overlay__club--infoContainer {
  margin-top: 5rem;
}

@media (max-width: 87.5em) {
  .overlay__club--infoContainer {
    margin-top: 1rem;
  }
}

@media (max-width: 56.25em) {
  .overlay__club--infoContainer {
    margin-top: 3rem;
  }
}

@media (max-width: 37.5em) {
  .overlay__club--infoContainer {
    margin-top: 5rem;
  }
}

.social-media__links--CV {
  grid-row: 1/-1;
  grid-column: 4/-4;
  margin-bottom: 2rem;
}

.Footer__Style-1 {
  grid-row: 1/-1;
  grid-column: 1/4;
  background-color: #192d45;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.Footer__Style-2 {
  grid-row: 1/-1;
  grid-column: -1/-4;
  background-color: #192d45;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.Languages__overlay--cv-title {
  margin-top: 5rem;
  margin-left: 4.17vw;
  margin-bottom: 3rem;
  grid-column: 1/-1;
  color: #311b92;
  letter-spacing: .2rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content .942fr;
  grid-template-rows: 100%;
  align-items: center;
}

.Languages__overlay--cv-title::after {
  content: "";
  height: 3px;
  display: block;
  background-color: #311b92;
}

.Languages__overlay--cv-title .title-style {
  border: .3rem solid #311b92;
  padding: 2rem;
}

.Languages__overlay--cards {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(16, 6.25vw);
  grid-template-rows: min-content;
  margin-top: 6rem;
}

.Languages__overlay--cards-1 {
  grid-column: 2/span 4;
  background-color: rgba(246, 228, 192, 0.8);
  height: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Languages__overlay--cards-2 {
  grid-column: 7/span 4;
  background-color: rgba(246, 228, 192, 0.8);
  height: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Languages__overlay--cards-3 {
  grid-column: 12/span 4;
  background-color: rgba(246, 228, 192, 0.8);
  height: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Languages__overlay--icon {
  margin-top: 2rem;
}

.Languages__overlay--icon-Russia {
  margin-top: 2rem;
}

.Languages__overlay--header-2 {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: brown;
  border-bottom: 2px solid brown;
}

.Languages__overlay--header-3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #B28451;
}

.Languages__overlay--paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2rem;
  text-align: center;
  color: #8d6e63;
}

.Software__cv-title {
  margin-top: 5rem;
  margin-left: 4.17vw;
  margin-bottom: 3rem;
  grid-column: 1/-1;
  color: #37474f;
  letter-spacing: .2rem;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content .942fr;
  grid-template-rows: 100%;
  align-items: center;
}

.Software__cv-title::after {
  content: "";
  height: 3px;
  display: block;
  background-color: #37474f;
}

.Software__cv-title .title-style {
  border: .3rem solid #37474f;
  padding: 2rem;
}

.Software__container {
  display: grid;
  grid-column: 1/-1;
  overflow: hidden;
}

.Software__logo {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) repeat(5, minmax(20rem, min-content)) minmax(10rem, 1fr);
  grid-template-rows: repeat(2, minmax(20rem, min-content));
  grid-row-gap: 5rem;
  grid-column-gap: 4rem;
}

.Software__logo--header-2 {
  grid-row: 1/3;
  grid-column: 5/11;
  font-size: 4rem;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  background-image: linear-gradient(to right, #e44d26, #f16529, #0277bd, #039be5);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
}

.Software__logo--header-2-Django {
  background-image: linear-gradient(to right, #00796b, #00695c, #004d40);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
  margin-top: -1rem;
}

.Software__logo--header-2-mysql {
  background-image: linear-gradient(to right, #00758f, #f29111);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
  margin-top: -1rem;
}

.Software__logo--header-2-siemensnx {
  background-image: linear-gradient(to right, #00abad, #b8202d);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
  margin-top: -1rem;
}

.Software__logo--header-2-imageJ {
  background-image: linear-gradient(to right, #212122, #edbb2d);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
  margin-top: -1rem;
}

.Software__logo--paragraph {
  grid-row: 3/5;
  grid-column: 2/14;
  font-size: 1.6rem;
  font-weight: 300;
  justify-self: center;
  align-self: center;
  margin-top: -1.5rem;
}

.Software__logo--links {
  grid-row: 5/7;
  grid-column: 2/14;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Software__logo--links-1:link, .Software__logo--links-1:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #f16529;
  color: #fff;
}

.Software__logo--links-2:link, .Software__logo--links-2:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #0277bd;
  color: #fff;
}

.Software__logo--links-3:link, .Software__logo--links-3:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #039be5;
  color: #fff;
}

.Software__logo--links-Django {
  grid-row: 5/7;
  grid-column: 2/14;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.Software__logo--links-Django-1 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #00796b;
  color: #fff;
}

.Software__logo--links-mysql {
  justify-content: space-around;
}

.Software__logo--links-mysql-1 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #00758f;
  color: #fff;
}

.Software__logo--links-mysql-2 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #f29111;
  color: #fff;
}

.Software__logo--links-siemensnx {
  justify-content: center;
}

.Software__logo--links-siemensnx-1 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #00abad;
  color: #fff;
}

.Software__logo--links-imageJ {
  justify-content: center;
}

.Software__logo--links-imageJ-1 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #212122;
  color: #fff;
}

.Software__logo:hover .Software__logo--html-css-box:not(:hover) {
  opacity: .3;
}

.Software__logo:hover .Software__logo--djangoBox:not(:hover) {
  opacity: .3;
}

.Software__logo:hover .Software__logo--mysqlBox:not(:hover) {
  opacity: .3;
}

.Software__logo:hover .Software__logo--siemensnxBox:not(:hover) {
  opacity: .3;
}

.Software__logo:hover .Software__logo--imageJBox:not(:hover) {
  opacity: .3;
}

.Software__logo:hover .Software__logo--html-css-box:hover {
  opacity: 1;
}

.Software__logo:hover .Software__logo--djangoBox:hover {
  opacity: 1;
}

.Software__logo:hover .Software__logo--mysqlBox:hover {
  opacity: 1;
}

.Software__logo:hover .Software__logo--siemensnxBox:hover {
  opacity: 1;
}

.Software__logo:hover .Software__logo--imageJBox:hover {
  opacity: 1;
}

.Software__logo:hover .Software__logo--html-css-box:not(:hover) ~ .Software__logo--Info-html-css {
  opacity: 0;
}

.Software__logo:hover .Software__logo--djangoBox:not(:hover) ~ .Software__logo--Info-django {
  opacity: 0;
}

.Software__logo:hover .Software__logo--mysqlBox:not(:hover) ~ .Software__logo--Info-mysql {
  opacity: 0;
}

.Software__logo:hover .Software__logo--siemensnxBox:not(:hover) ~ .Software__logo--Info-siemensnx {
  opacity: 0;
}

.Software__logo:hover .Software__logo--imageJBox:not(:hover) ~ .Software__logo--Info-ImageJ {
  opacity: 0;
}

.Software__logo:hover .Software__logo--html-css-box:hover ~ .Software__logo--Info-html-css {
  opacity: 1;
}

.Software__logo:hover .Software__logo--djangoBox:hover ~ .Software__logo--Info-django {
  opacity: 1;
}

.Software__logo:hover .Software__logo--mysqlBox:hover ~ .Software__logo--Info-mysql {
  opacity: 1;
}

.Software__logo:hover .Software__logo--siemensnxBox:hover ~ .Software__logo--Info-siemensnx {
  opacity: 1;
}

.Software__logo:hover .Software__logo--imageJBox:hover ~ .Software__logo--Info-ImageJ {
  opacity: 1;
}

.Software__logo--Info {
  width: 58.38vw;
  display: grid;
  grid-template-rows: repeat(6, 6.6667vh);
  grid-template-columns: repeat(14, 4.17vw);
  background-color: white;
  border-radius: 10rem;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.53);
  margin-bottom: 5rem;
  transition: all 1s;
}

.Software__logo--Info-html-css {
  z-index: 10;
  grid-row: 2/3;
  grid-column: 2/-2;
  justify-self: center;
}

.Software__logo--Info-django {
  opacity: 0;
  grid-row: 2/3;
  grid-column: 2/-2;
  justify-self: center;
}

.Software__logo--Info-mysql {
  opacity: 0;
  grid-row: 2/3;
  grid-column: 2/-2;
  justify-self: center;
}

.Software__logo--Info-siemensnx {
  opacity: 0;
  grid-row: 2/3;
  grid-column: 2/-2;
  justify-self: center;
}

.Software__logo--Info-ImageJ {
  opacity: 0;
  grid-row: 2/3;
  grid-column: 2/-2;
  justify-self: center;
}

.Software__logo--img {
  transition: all 1s;
}

.Software__logo--html-css {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
}

.Software__logo--html-css-box {
  grid-row: 1/2;
  grid-column: 2/3;
}

.Software__logo--djangoBox {
  grid-row: 1/2;
  grid-column: 3/4;
}

.Software__logo--django {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  opacity: .2;
}

.Software__logo--django:hover {
  opacity: 1;
}

.Software__logo--mysqlBox {
  grid-row: 1/2;
  grid-column: 4/5;
}

.Software__logo--mysql {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  opacity: .2;
}

.Software__logo--mysql:hover {
  opacity: 1;
}

.Software__logo--siemensnxBox {
  grid-row: 1/2;
  grid-column: 5/6;
}

.Software__logo--siemensnx {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  opacity: .2;
}

.Software__logo--siemensnx:hover {
  opacity: 1;
}

.Software__logo--imageJBox {
  grid-row: 1/2;
  grid-column: 6/7;
}

.Software__logo--Imagej {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  opacity: .2;
}

.Software__logo--Imagej:hover {
  opacity: 1;
}

/*
0 - 600px:           Phone
600px - 900px:       Tablet portrait
900px - 1200px:      Tablet landscape
1200px - 1300px:     Small Laptop
1300px - 1400px:     medium Laptop

1800+ :              Big laptop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- laptop-sm
-laptop-md
- laptop-bg

1em = 16px
*/
.page__grid {
  display: grid;
  grid-template-rows: repeat(24, 4.17vh);
  grid-template-columns: repeat(3, 2.5vw) repeat(12, 7.08vw) repeat(3, 2.5vw);
}

@media (max-width: 37.5em) {
  .page__grid {
    grid-template-rows: repeat(3, min-content);
    overflow: hidden;
  }
}

.styling__left {
  grid-column: 1/4;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: repeat(24, 4.17vh);
  grid-template-columns: repeat(3, 2.5vw);
}

@media (max-width: 37.5em) {
  .styling__left {
    display: none;
  }
}

.styling__left--1 {
  grid-column: 1/-1;
  grid-row: 1/4;
  background-image: linear-gradient(#192d45, #192d45);
}

@media (max-width: 56.25em) {
  .styling__left--1 {
    grid-row: 1/2;
  }
}

.styling__left--2 {
  grid-column: 2/4;
  grid-row: 6/20;
  background-image: linear-gradient(#d8d8d8, #d8d8d8);
  transform: scaleX(3);
  transform-origin: 0%;
  z-index: -1;
}

@media (max-width: 56.25em) {
  .styling__left--2 {
    grid-column: 1/4;
  }
}

.styling__left--4 {
  grid-column: 1/4;
  grid-row: 22/-1;
  background-image: linear-gradient(#192d45, #192d45);
}

@media (max-width: 56.25em) {
  .styling__left--4 {
    grid-row: 24/-1;
  }
}

.styling__right {
  grid-column: 16/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: repeat(24, 4.17vh);
  grid-template-columns: repeat(3, 2.5vw);
}

@media (max-width: 37.5em) {
  .styling__right {
    display: none;
  }
}

.styling__right--1 {
  grid-column: 1/4;
  grid-row: 1/4;
  background-image: linear-gradient(#192d45, #192d45);
}

@media (max-width: 56.25em) {
  .styling__right--1 {
    grid-row: 1/2;
  }
}

.styling__right--2 {
  grid-column: 1/3;
  grid-row: 6/20;
  background-image: linear-gradient(#d8d8d8, #d8d8d8);
  transform: scaleX(-2);
  transform-origin: 33%;
  z-index: -1;
}

@media (max-width: 56.25em) {
  .styling__right--2 {
    grid-column: 1/4;
  }
}

.styling__right--4 {
  grid-column: 1/4;
  grid-row: 22/-1;
  background-image: linear-gradient(#192d45, #192d45);
}

@media (max-width: 56.25em) {
  .styling__right--4 {
    grid-row: 24/-1;
  }
}

.content .card {
  grid-column: 2/24;
  grid-row: 2/18;
  background-color: #fff;
  box-shadow: 0 0 22px 5px rgba(0, 0, 0, 0.52);
  border-radius: 2px;
  display: grid;
  grid-template-rows: repeat(16, 4.17vh);
  grid-template-columns: repeat(22, 3.54vw);
}

@media (max-width: 81.25em) {
  .content .card {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: min-content minmax(50rem, min-content);
  }
}

@media (max-width: 56.25em) {
  .content .card {
    grid-column: 2/24;
    grid-row: 2/18;
    transform: scale(1.2);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.52);
    grid-template-rows: repeat(16, 4.17vh);
    grid-template-columns: repeat(22, 3.54vw);
  }
}

@media (max-width: 37.5em) {
  .content .card {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    grid-column: 1/-1;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.52);
  }
}

.content .card__img {
  grid-column: 13/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  outline-offset: 2rem;
  transition: all .2s;
}

@media (max-width: 81.25em) {
  .content .card__img {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

@media (max-width: 56.25em) {
  .content .card__img {
    grid-column: 1/-1;
    grid-row: 1/9;
    height: 30rem;
  }
}

@media (max-width: 37.5em) {
  .content .card__img {
    height: 40rem;
  }
}

.content .card__img:hover {
  outline: 1.5rem solid black;
  transform: scale(1);
}

.content .card__about-me {
  grid-column: 1/12;
  grid-row: 1/9;
  padding: 2.5rem;
}

@media (max-width: 81.25em) {
  .content .card__about-me {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media (max-width: 56.25em) {
  .content .card__about-me {
    grid-column: 1/10;
    grid-row: 9/-1;
    padding: 2.5rem 0 2.5rem 2.5rem;
    margin-top: -3rem;
  }
}

@media (max-width: 37.5em) {
  .content .card__about-me {
    grid-column: 1/-1;
    grid-row: 1/-1;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-top: 0rem;
    text-align: center;
  }
}

.content .card__about-me .hello {
  background-image: linear-gradient(to right, #795548, #6d4c41, #5d4037);
  color: transparent;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
}

.content .card__about-me .name__full {
  background-image: linear-gradient(to right, #42a5f5, #2196f3, #1e88e5);
  color: transparent;
  letter-spacing: .1rem;
  -webkit-background-clip: text;
}

.content .card__icons {
  grid-row: 9/17;
  grid-column: 1/13;
  margin-top: -2rem;
  display: grid;
  grid-template-rows: repeat(8, 4.17vh);
  grid-template-columns: repeat(12, 3.54vw);
}

@media (max-width: 81.25em) {
  .content .card__icons {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 56.25em) {
  .content .card__icons {
    grid-column: 11/-1;
    grid-row: 9/-1;
    transform: translateY(1rem);
  }
}

@media (max-width: 37.5em) {
  .content .card__icons {
    grid-column: 1/-1;
    grid-row: 1/-1;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.content .card__icons--1 {
  grid-row: 1/3;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: min-content min-content 1fr;
  grid-gap: 2rem;
  align-items: center;
}

@media (max-width: 37.5em) {
  .content .card__icons--1 {
    margin-bottom: 6rem;
    margin-top: 5rem;
    width: 100vw;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content max-content;
    justify-content: center;
    justify-items: center;
  }
  .content .card__icons--1 p {
    grid-column: 1/-1;
    align-self: center;
  }
  .content .card__icons--1 svg {
    margin-right: -14rem;
    margin-left: 1rem;
  }
  .content .card__icons--1 h3 {
    margin-left: 5rem;
  }
}

.content .card__icons--2 {
  grid-row: 3/5;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: min-content min-content 1fr;
  grid-gap: 2.45rem;
  align-items: center;
}

@media (max-width: 56.25em) {
  .content .card__icons--2 {
    margin-top: -1rem;
  }
}

@media (max-width: 37.5em) {
  .content .card__icons--2 {
    margin-bottom: 6rem;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem;
    width: 100vw;
    justify-content: center;
    justify-items: center;
  }
  .content .card__icons--2 h3 {
    grid-column: 2/3;
    margin-left: 5rem;
  }
  .content .card__icons--2 svg {
    grid-column: 1/2;
    margin-right: -22rem;
    margin-left: -2rem;
  }
}

.content .card__icons--3 {
  grid-row: 5/7;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: min-content min-content 1fr;
  grid-gap: 3.88rem;
  align-items: center;
}

@media (max-width: 56.25em) {
  .content .card__icons--3 {
    margin-top: -1rem;
  }
}

@media (max-width: 37.5em) {
  .content .card__icons--3 {
    margin-bottom: 6rem;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem;
    width: 100vw;
    justify-content: center;
    justify-items: center;
    margin-left: 3rem;
  }
  .content .card__icons--3 p {
    grid-column: 1/-1;
    margin-left: -3rem;
  }
  .content .card__icons--3 h3 {
    grid-column: 2/3;
    margin-right: 8rem;
  }
  .content .card__icons--3 svg {
    grid-column: 1/2;
    margin-right: 1rem;
    margin-left: 3rem;
  }
}

.content .card__icons--4 {
  grid-row: 7/9;
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: min-content min-content 1fr;
  grid-gap: 4.6rem;
  align-items: center;
}

@media (max-width: 56.25em) {
  .content .card__icons--4 {
    margin-top: -1rem;
  }
}

@media (max-width: 37.5em) {
  .content .card__icons--4 {
    margin-bottom: 6rem;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem;
    width: 100vw;
    justify-content: center;
    margin-left: -3rem;
  }
  .content .card__icons--4 p {
    grid-column: 1/-1;
    align-self: center;
  }
}

.content .card__icons--all {
  height: 4.5rem;
  width: 4.5rem;
  margin-left: 2.5rem;
  fill: #cba16f;
}

@media (max-width: 56.25em) {
  .content .card__icons--all {
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 0;
  }
}

@media (max-width: 37.5em) {
  .content .card__icons--all {
    height: 5rem;
    width: 5rem;
    margin-left: 0;
  }
}

.content .card__icons--bachelor-1 {
  display: flex;
  flex-direction: column;
}

@media (max-width: 37.5em) {
  .content .card__icons--bachelor-1 {
    grid-column: 1/-1;
    text-align: center;
  }
}

.nav-homePage {
  grid-row: 1/4;
  grid-column: 4/16;
}

@media (max-width: 37.5em) {
  .nav-homePage {
    grid-row: 1/2;
    z-index: 10;
  }
}

.navbar {
  display: grid;
  grid-template-rows: repeat(3, 4.17vh);
  grid-template-columns: repeat(24, 3.54vw);
}

.navbar__links {
  grid-row: 1/3;
  grid-column: 2/24;
  background-color: white;
  box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.53);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 2rem;
}

@media (max-width: 56.25em) {
  .navbar__links {
    grid-row: 1/2;
    font-size: 1.4rem;
  }
}

.navbar__links a:link,
.navbar__links a:visited {
  outline: 0;
  text-decoration: none;
  padding-bottom: .8rem;
  text-transform: uppercase;
  color: #0d9b9b;
  font-weight: 500;
  border-bottom: .3rem solid transparent;
  transition: border-bottom .2s;
}

.navbar__links a:hover {
  border-bottom: 0.3rem solid #0d9b9b;
}

.navbar__links a:active {
  text-decoration: none;
}

.social-media {
  grid-row: 22/-1;
  grid-column: 4/16;
}

@media (max-width: 56.25em) {
  .social-media {
    grid-row: 23/-1;
  }
}

@media (max-width: 37.5em) {
  .social-media {
    grid-row: 3/4;
  }
}

.social-media__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 56.25em) {
  .social-media__links {
    align-items: flex-end;
  }
}

.social-media__links a svg {
  width: 4rem;
  height: 4rem;
  outline: 0;
}

@media (max-width: 56.25em) {
  .social-media__links a svg {
    width: 3rem;
    height: 3rem;
  }
}

.social-media__links--1 {
  margin-top: 2.5rem;
  fill: #c32aa3;
}

.social-media__links--2 {
  margin-top: 2.5rem;
  margin-left: 4rem;
  fill: #007bb5;
}

.social-media__links--3 {
  margin-top: 2.5rem;
  fill: #1877f2;
  margin-left: 4rem;
}

.social-media__links--4 {
  margin-top: 2.5rem;
  margin-left: 4rem;
  fill: #1da1f2;
}
