.myPathSpan {
  font-size: 3rem;
  color: #3ec867;
  font-weight: 300;
  padding: 0 1rem;
  // text-transform: uppercase;
}

.myLife {
  font-size: 4rem;
  color: #ffbf00;
  font-weight: 300;
  padding: 0 1rem;
}

.mypath {
  font-size: 6rem;
  color: #ffbf00;
  font-weight: 300;
  padding: 0 1rem;
  text-transform: uppercase;
}

.decisions {
  padding-right: 0;
}
