.gpa {
  font-weight: 700;
}

.uni {
  color: #e0203f;

  &__department {
    color: #8d6e63;
  }
}

.chev {
  // height: 3rem;
  // width: 3rem;
  font-size: 1.8rem;

  color: #c17676;
  margin-right: 1.5rem;
}
