$font: 'Nunito', sans-serif;

$primary-color-blue: #192d45; //#3c7087;
$primary-color-gold: #cba16f;//#B28451;//#b59771;

$primary-color-blue-light-1: #6391c6;
$primary-color-blue-light-2: #3d6fa9;
$primary-color-blue-light-3: #345f90;

$primary-color-blue-dark-1: #101d2c;

$navbar-blue: #0d9b9b;
$navbar-green: #167b50;

$primary-color-gold-light-1: #d4b188;
$primary-color-gold-dark-1: #B28451;

$color-grey-light-1: #d8d8d8;
$color-grey-light-2: #cfcfcf;
$color-grey-light-3: #bebebe;
$color-grey-veryLight: #f6f6f6;

$color-grey-dark-1: #838383;
$color-grey-dark-2: #696969;
$color-grey-dark-3: #505050;

$color-linkedIn: #007bb5;
$color-Instagram: #c32aa3;
$color-Twitter: #1da1f2;
$color-Facebook: #1877f2;

$Education-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.53);
