<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="{%  static 'blogApp/img/favicon.ico' %}">

    <meta charset="utf-8">
    <title>Doruk Sinayuc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block link_block %}
    <link rel="stylesheet" href="{% static "homeApp/css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "myPathApp/css/myPath_main.css" %}"/>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  </head>
  <body>

  <div class="page__myPath">

    <div class="page__grid--CV">
        <nav class="nav-cvPage">
          <div class="navbar__CV">
            <div class="navbar__CV--container">
              <ul class="navbar__links">
                <li class="navbar__links-element">
                  <a href="{% url 'homeApp:home' %}" class="navbar__links--1">Home</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'homeApp:cv' %}" class="navbar__links--2">Curriculum Vitae(CV)</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'myPathApp:mypath' %}" class="navbar__links--3">My Path</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'blogApp:blogHome' %}" class="navbar__links--4">Blog</a>
                </li>
                <li class="navbar__links-element">
                  <a href="{% url 'contactApp:contactHome' %}" class="navbar__links--5">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </div>

    <div class="myPath__container">
      <div class="myPath__sidebar">
        <!-- <div class="myPath__sidebar--container"> -->
          <h2 class="myPath__sidebar--header-2">Pages</h2>
          <div class="myPath__sidebar--PageNumbers">
            <div class="myPath__sidebar--PageNumbers-container">
              <h3 class="myPath__sidebar--header-3 myPath__sidebar--header-3--1"><a href="{% url 'myPathApp:mypath' %}">1</a></h3>
              <h3 class="myPath__sidebar--header-3 myPath__sidebar--header-3--2"><a href="{% url 'myPathApp:secondPage' %}">2</a></h3>
              <h3 class="myPath__sidebar--header-3 myPath__sidebar--header-3--3"><a href="{% url 'myPathApp:thirdPage' %}">3</a></h3>
              <h3 class="myPath__sidebar--header-3 myPath__sidebar--header-3--4"><a href="{% url 'myPathApp:fourthPage' %}">4</a></h3>
              <h3 class="myPath__sidebar--header-3 myPath__sidebar--header-3--5"><a href="{% url 'myPathApp:fifthPage' %}">5</a></h3>
            </div>
          </div>
        <!-- </div> -->
      </div>
      {% block info_block %}

      {% endblock %}
      <div class="myPath__Videos">

        {% block video_block %}

        {% endblock %}

      </div>
    </div>

  </div>






  </body>
</html>
