{% extends "myPathApp/base_myPathPage.html" %}
{% load static %}

{% block link_block %}
<link rel="stylesheet" href="{% static "homeApp/css/main.css" %}"/>
<link rel="stylesheet" href="{% static "myPathApp/css/myPath_main.css" %}"/>
<link rel="stylesheet" href="{% static "myPathApp/css/myPathSecondPage.css" %}"/>
{% endblock %}

{% block video_block %}
<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-5.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/GXLi2Qd0txY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">19.7.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Fried brain</p>
        <p><span class="chev">&rang;</span>Django</p>
        <p><span class="chev">&rang;</span>My website</p>
        <p><span class="chev">&rang;</span>Walking</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-6.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/8-lXLg7sraE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">19.7.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Python error</p>
        <p><span class="chev">&rang;</span>Day plans</p>
        <p><span class="chev">&rang;</span>Django</p>
      </div>
    </div>
  </div>

</div>

<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-7.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/PFgsYMdLITE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">17.7.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Django</p>
        <p><span class="chev">&rang;</span>Debugging</p>
        <p><span class="chev">&rang;</span>Learning</p>
        <p><span class="chev">&rang;</span>Day plans</p>
        <p><span class="chev">&rang;</span>Opinions</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-8.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/t95_eMS6Ekc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">16.7.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Django</p>
        <p><span class="chev">&rang;</span>Unmotivation</p>
        <p><span class="chev">&rang;</span>Growth mindset</p>
        <p><span class="chev">&rang;</span>Self progress</p>
        <p><span class="chev">&rang;</span>Day plans</p>
      </div>
    </div>
  </div>

</div>

<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-9.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/v1I9nyhcveM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">15.7.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Update</p>
        <p><span class="chev">&rang;</span>Django</p>
        <p><span class="chev">&rang;</span>Learning</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-9.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/qATjm6EK0KU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">15.7.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Update</p>
        <p><span class="chev">&rang;</span>Learning</p>
        <p><span class="chev">&rang;</span>Day plans</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
