{% extends "myPathApp/base_myPathPage.html" %}
{% load static %}

{% block link_block %}
<link rel="stylesheet" href="{% static "homeApp/css/main.css" %}"/>
<link rel="stylesheet" href="{% static "myPathApp/css/myPath_main.css" %}"/>
<link rel="stylesheet" href="{% static "myPathApp/css/myPathThirdPage.css" %}"/>
{% endblock %}

{% block video_block %}
<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-5.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/SYZyYM1PI7s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">24.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Update</p>
        <p><span class="chev">&rang;</span>Sleeping</p>
        <p><span class="chev">&rang;</span>Future plans</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-6.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/lLxnggJrXDc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">17.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Class</p>
        <p><span class="chev">&rang;</span>Weather</p>
        <p><span class="chev">&rang;</span>Day plans</p>
      </div>
    </div>
  </div>

</div>

<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-7.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/Y3jM_LzKyKA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">16.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Thermo</p>
        <p><span class="chev">&rang;</span>Future plans</p>
        <p><span class="chev">&rang;</span>Day plans</p>
        <p><span class="chev">&rang;</span>Studying</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-8.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/ovox6A9Q4MY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">13.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Feelings</p>
        <p><span class="chev">&rang;</span>Day plans</p>
        <p><span class="chev">&rang;</span>Update</p>
        <p><span class="chev">&rang;</span>Feelings</p>
        <p><span class="chev">&rang;</span>Future plans</p>
      </div>
    </div>
  </div>

</div>

<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-9.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/ta3UGbDIPsw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">11.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Networking update</p>
        <p><span class="chev">&rang;</span>Talking to future me</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-9.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/DjoUoXcUi5U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">11.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Networking</p>
        <p><span class="chev">&rang;</span>Feelings</p>
        <p><span class="chev">&rang;</span>Day plans</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
