{% extends "myPathApp/base_myPathPage.html" %}
{% load static %}

{% block link_block %}
<link rel="stylesheet" href="{% static "homeApp/css/main.css" %}"/>
<link rel="stylesheet" href="{% static "myPathApp/css/myPath_main.css" %}"/>
<link rel="stylesheet" href="{% static "myPathApp/css/myPathFourthPage.css" %}"/>
{% endblock %}

{% block video_block %}
<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-5.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/c0qs_GhC2u8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">10.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Weather</p>
        <p><span class="chev">&rang;</span>Great News</p>
        <p><span class="chev">&rang;</span>SQL</p>
        <p><span class="chev">&rang;</span>Websites</p>
        <p><span class="chev">&rang;</span>Classes</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-6.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/UPvmrzebeos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">09.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Update on Exam</p>
        <p><span class="chev">&rang;</span>Future plans</p>
        <p><span class="chev">&rang;</span>Day plans</p>
      </div>
    </div>
  </div>

</div>

<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-7.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/a1FAUos4puI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">09.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Exam</p>
        <p><span class="chev">&rang;</span>Update on Statics</p>
        <p><span class="chev">&rang;</span>Day update</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-8.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/OaXvdmQhcag" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">08.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Update on Exam</p>
        <p><span class="chev">&rang;</span>Day plans</p>
        <p><span class="chev">&rang;</span>Thermo</p>
      </div>
    </div>
  </div>

</div>

<div class="myPath__video--row myPath__video--row-v2">

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-9.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/aH5_8WULVO0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">08.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Exam</p>
        <p><span class="chev">&rang;</span>Day plans</p>
        <p><span class="chev">&rang;</span>Future plans</p>
        <p><span class="chev">&rang;</span>Did not pass with <br>a good grade :/</p>
      </div>
    </div>
  </div>

  <div class="myPath__video myPath__video--1-container">
    <!-- <iframe class="myPath__video--1" src="{% static "myPathApp/img/video-9.mov" %}" width="191.25" height="340" frameborder="0" allowfullscreen></iframe> -->
    <iframe width="191.25" height="340" src="https://www.youtube.com/embed/nBVc-BKuTe8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="myPath__video--info">
      <div class="myPath__video--date">
        <svg class="card-education__icon">
          <use xlink:href="{% static "homeApp/img/sprite.svg" %}#icon-calendar"></use>
        </svg>
        <h2 class="myPath__video--header-2 ">07.6.2020</h2>
      </div>
      <div class="myPath__video--paragraph">
        <h3 class="myPath__video--header-3">Content</h3>
        <p><span class="chev">&rang;</span>Update on Day</p>
        <p><span class="chev">&rang;</span>Statics</p>
        <p><span class="chev">&rang;</span>Feelings</p>
        <p><span class="chev">&rang;</span>Day plans</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
